.flip-container {
  width: 100%;
  perspective: 1000px;
}

.flipper {
  display: grid; /* 1) grid-container */
  grid-template-areas: "flip"; /* 2) en cell som kallas "flip" */
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front,
.back {
  grid-area: flip; /* bägge barnen i samma cell */
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  /* TA BORT position:absolute; */
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

.hide {
  display: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}
